/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.background {
  width: 100%;
  height: 530px;
  background: url('https://cdna.artstation.com/p/assets/images/images/006/236/990/large/michal-baca-highresscreenshot00011.jpg?1497014841') no-repeat center center;
}

  /* resize images */
  .background img {
    width: 100%;
    height: 100%;
  }

.rectangle {
  padding: 10px;
  width: auto;
  background: #1d2124;
}

.person {
  width: 50px;
  height: 100%;
  background: url('https://i.pinimg.com/originals/7d/71/e1/7d71e164d055ef1e9312a17d1ae06f75.png') no-repeat center center;
}

.dialogbody {
  position: absolute;
  bottom: 50px;
}

.dialog-text {
  padding: 10px;
  color: red;
  font-size: 20px;
}
