
<div class="background">

  <!--<div class="person"></div>-->

  <img class="img" src="https://cdna.artstation.com/p/assets/images/images/006/236/990/large/michal-baca-highresscreenshot00011.jpg?1497014841" alt="Фон">
  <div class="rectangle dialogbody">
    <div class="dialog-text">Какой-то тескт с диалогом или сюжетом</div>
  </div>

</div>

<button class="btn btn-danger" (click)="startHttpRequest()">Изменить данные в контроллере</button>
<button class="btn btn-primary" (click)="chartClicked()">Отправить на сервер</button>
